{# app/Resources/views/Emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi armand! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="google.com">...</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="https://img-19.ccm2.net/Eqfj__qrMdJHSpT0N7iwk0oEv_c=/325x/0f6e7e5450dd44adb873d5fc1a82d47a/ccm-faq/GOOGLE-LOGO.jpg">